{{- $proxy :=  promptBoolOnce . "proxy" "use behind proxy" -}}

[data]
  proxy = {{ $proxy }}
[git]
    autoCommit = true
    autoPush = true

encryption = "age"
[age]
    identity = "{{ .chezmoi.homeDir }}/.config/chezmoi/key"
    recipient = "age1lk8q7ucam9xzfg49cdnm3mku9t3f9f9s5ry0gnw60fv9azqptfaqkdekvc"
