{{- $proxy :=  promptBoolOnce . "proxy" "use behind proxy" -}}

[data]
  proxy = {{ $proxy }}
[git]
    autoCommit = true
    autoPush = false

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age16vran5zuzp5u8tk6hmj6kckdj52t90cvg96f4p8c8jfynrppeqrszgdlx6"
