Include config.d/*

Host aur.archlinux.org
  IdentityFile ~/.ssh/aur
  User aur

Host github.com
  User git
  Port 443
{{- if .proxy }}
  HostName ssh.github.com
  ProxyCommand nc -v -X 5 -x ${PROXY_HOST:-127.0.0.1}:${PROXY_PORT:-7893} %h %p
{{- else }}
  HostName 20.200.245.248
{{- end }}
